<form {{action "authenticate" on="submit"}}>
  <label for="identification">User</label>
  {{input value=identification placeholder="Enter Login"}}

  <label for="password">Password</label>
  {{input value=password type="password" placeholder="Enter Password"}}

  <button type="submit">Login</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}

<div class="row">
    <div class="container">
	  <div class="col-md-8">
      <div class="container">
        <div class="col-md-2"></div>
          <div class="col-md-8">
            <label><h1></h1></label>
            <form class="well">
              <div class="form-group">
                <p class="text-center">
                  <div align="center">
            				<img src="assets/images/teamwork1.png" width="180" height="250" class="img-responsive">
            			</div>
                    <div class="text-center">
                        <h1>¿Primera vez en Groups?</h1>
                    </div>
                    {{#link-to 'createUser' class="btn btn-primary"}}
                      Regístrate con tu correo
                    {{/link-to}}
                </p>
              </div>
            </form>
		      </div>
        </div>
	</div>
</div>
</div>
