<div class="container-fluid">

	<div class="navbar-header">
		<!--<a href="#" class="navbar-brand">Groups</a>-->
		<div><img src="assets/images/teamwork1.png" width="60" height="10" class="img-responsive"></div>
	</div>

	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li><a href="profile">Profile</a></li>
		<li><a href="group">New Group</a></li>
	</ul>

</div>