<div class="row">
    <div class="container">
        <div class="text-center">
            <h1>Edita Grupo</h1>
        </div>
	    <div class="col-md-8">
                <div class="container">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">

                <form class="well">

                        <div class="form-group">
                            <label>Nombre del Grupo</label>
                            {{input value=model.name class="form-control"}}
                        </div>

                            <div class="form-group">
                                <label>Caducidad</label>
                                {{input value=model.expDate type="text" class="form-control"}}
                            </div>

                                <p class="text-center">
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                    <button type="submit" class="btn btn-primary">Cancelar</button>
                                </p>
		            </form>

                  {{user-list}}
                    </div>
                    <div class="col-md-2"></div>
                </div>
	    </div>

	</div>
</div>
