<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Groups</h1>
			<p class="text-center">
					{{#link-to 'group' class="btn btn-primary"}}
						Nuevo grupo
					{{/link-to}}

          {{#link-to 'editGroup' class="btn btn-primary"}}
						Edita grupo
					{{/link-to}}

			</p>

				{{#each model as |item|}}

					<div class="list-group-item">
						<button {{action 'eliminar' item on='click' bubbles=false}} class="badge btn">X</button>
						 {{#link-to 'editGroup' item.id class="badge btn"}}E
						 {{/link-to}}
						<h4>Nombre: {{item.name}}</h4>
					</div>


					{{/each}}
		</div>
	</div>
</div>
