<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Groups</h1>
			<p class="text-center">
					{{#link-to 'group' class="btn btn-primary"}}
						Nuevo grupo
					{{/link-to}}

          {{#link-to 'editGroup' class="btn btn-primary"}}
						Edita grupo
					{{/link-to}}

			</p>



		</div>
	</div>
</div>
