<div class="row">
    <div class="container">
        <div class="text-center">
            <h1>Crear Grupo</h1>
        </div>
	    <div class="col-md-8">
                <div class="container">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        
                <form class="well">

                        <div class="form-group">
                            <label>Nombre del Grupo</label>
                            {{input value=name class="form-control"}}
                        </div>
                           
                            <div class="form-group">
                                <label>Descripcion</label>
                                {{input value=descripcion type="text" class="form-control"}}
                            </div>
                            <div class="form-group">
                                <label>Caducidad</label>
                                {{input value=caducidad type="text" class="form-control"}}
                            </div>
                            
                                <p class="text-center">
                                    <button type="submit" class="btn btn-primary">Crear Grupo</button>
                                </p>
		            </form>
                        
                        
                    </div>
                    <div class="col-md-2"></div>
                </div>
	    </div>

	</div>
</div>
